<html>  
<head>  
    <title>To-Do List</title>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <link rel="stylesheet" href="/static/style.css">
    </head>
<body>  
<h1>My To-Do List</h1>
<h2>Add New Task Below</h2>
<form hx-post="/create_task" hx-target ="#task-list">
    <input type="text" name="task_description">
    <input type="date" name="task_due_date">
    <select name="task_priority">
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value=""Low">Low</option>
        </select>
    <button type="submit">Add Task</button>
    </form>

    <h2>Current Tasks</h2> 
    <div id="task-list">
        {% include 'todo_list.html' %}
            </div>
    
   <form hx-post="/delete_task" hx-target ="#task-list">
        <button type="submit">Delete Finished Tasks</button> 
    </form>


    
</body>

</html>