{% for task in tasks %}
    <div class="task">
        <input type="checkbox"
        hx-post="/update_task_status"
        hx-target="#task-list"
        name="task_id"
        value="{{ task.task_id }}">
         {% if task.task_state %}
            <p style="text-decoration: line-through;">{{ task.task_description }} </p>
        {% else %}
            <p>{{ task.task_description }}</p>
        {% endif %}
        <select name="task_priority">
        <option value="High" {% if task.task_priority =="High" %}selected{% endif %}>High</option> 
        <option value="Medium"{% if task.task_priority =="Medium" %}selected{% endif %}>Medium</option>
        <option value="Low" {% if task.task_priority =="Low" %}selected{% endif %}>Low</option>
            </select>
        <form>
       
        <input type="date" name="task_due_date" value="{{ task.task_due_date }}"
        hx-post="/update_task_due_date"
        hx-target="#task-list">
        <input type="hidden" name="task_id" value="{{ task.task_id }}">
        </form>
            

    </div>

{% endfor %}



